/* Styling for views pages */
*,
*::before,
*::after,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  appearance: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

:root{
	view-transition-name: none;
	/* Global colors */
	--main-bg-color: #F0F0F0;
	--secondary-bg-color: #FFFFFF;
	--text-color: #5D666A;
	--secondary-text-color: #030229;
	--tertiary-text-color: #87929F;
	--icon-color: #0275FF;
	--secondary-accent-color: #707B81;
	--tertiary-accent-color: #81BAFF;

	/* Global fonts */
	--content-text: 'Outfit', sans serif;

	/* Sizes */
	--title-size: 36px;
	--small-title-size: 28px;
	--score-size: 40px;
	--text-size: 20px;
	--small-text-size: 18px;
	--ultra-small-text: 16px;
}

body{
	background-color: var(--main-bg-color);
	font-family: var(--content-text);
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
}

.carousel-item {
    flex: 0 0 100%;
    max-width: 1500px;
    display: none;
}

.carousel-item.active {
    display: block;
}

.carousel-btn {
    background-color: var(--secondary-bg-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: var(--ultra-small-text);
	min-height: 40px;
	min-width: 40px;
	border-radius: 2px;
}

.carousel-btn svg{
	width: 12px;
	height: auto;
}

.carousel-btn.disabled {
	background-color: var(--main-bg-color);
}

div.carousel-item > .grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 20px;
	height: 100vh;
	width: 100vw;
	max-width: 1300px;
}

section#information {
	display: flex;
    align-items: center;
    justify-content: space-between;
	max-width: 1300px;
}

section#sidebar { 
	grid-area: 1 / 4 / 7 / 5;
	/* width: 288px; */
}

section#score { 
	grid-area: 1 / 1 / 4 / 4;
	/* width: 865px;
	height: 306px; */
}

section#foutmeldingen { 
	grid-area: 4 / 1 / 7 / 4;
	/* width: 865px;
	height: 379px; */
}

section#toegankelijkheid { 
	grid-area: 7 / 1 / 11 / 5;
	/* width: 1173px;
	height: 452px; */
}

div.screen-size{
	display: none;
}

section {
	color: var(--text-color);
	font-size: var(--text-color);
	border-radius: 15px;
}

section#score, section#foutmeldingen, section#toegankelijkheid, section#sidebar > article {
	background-color: var(--secondary-bg-color);
	padding: 20px;
	width: 100%
}

section#sidebar {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

section#sidebar > article {
	width: 100%;
	padding: 20px;
	height: 129px;
	border-radius: 15px;
}

        /* Table styles */
		canvas {
			width: auto;
			height: auto;
		}
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        
        th, td {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
        
        th {
            background-color: #f4f4f4;
        }
        
        .currentScan {
            background-color: #e0f7fa;
            font-weight: bold;
        }

        /* Section styles */
        h2 {
            margin-bottom: 20px;
        }

/* Media queries */
@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 900px) {
	main div.container,
	main div.container:focus-visible{
		display: none;
		visibility: hidden;
	}

	main div.screen-size{
		display: flex;
		justify-content: center;
		flex-direction: column;
        align-items: center;
		color: var(--text-color);
		background-color: var(--secondary-bg-color);
		height: 100vh;
		width: 100vw;
		gap: 20px;

		h3{
			font-size: 24px;
			font-weight: bold;
		}
		p{
			font-size: 15px;
			text-align: center;
		}
	}
}

@media (min-width: 1200px) {}

@media (min-width: 1560px) {}

/* View transitions */

.carousel-item .grid-container {
	view-transition-name: content;
}

::view-transition-group(*) {
	animation-duration: .75;
}

html:active-view-transition-type(forwards) {
	&::view-transition-old(content) {
		animation-name: slide-out-to-left;
	}
	&::view-transition-new(content) {
		animation-name: slide-in-from-right;
	}
}

html:active-view-transition-type(backwards) {
	&::view-transition-old(content) {
		animation-name: slide-out-to-right;
	}
	&::view-transition-new(content) {
		animation-name: slide-in-from-left;
	}
}

.carousel-item .grid-container {
	view-transition-name: content;
}

/* Keyframes & Animations */

@keyframes slide-in-from-left {
	from {
		translate: -100vw 0;
	}
}
@keyframes slide-in-from-right {
	from {
		translate: 100vw 0;
	}
}
@keyframes slide-out-to-left {
	to {
		translate: -100vw 0;
	}
}
@keyframes slide-out-to-right {
	to {
		translate: 100vw 0;
	}
}