/* Styling for views pages */
*,
*::before,
*::after,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  appearance: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

:root{
	/* Global colors */
	--main-bg-color: #F0F0F0;
	--secondary-bg-color: #FFFFFF;
	--text-color: #5D666A;
	--secondary-text-color: #030229;
	--tertiary-text-color: #87929F;
	--icon-color: #0275FF;
	--secondary-accent-color: #707B81;
	--tertiary-accent-color: #81BAFF;

	/* Global fonts */
	--content-text: 'Outfit', sans serif;

	/* Sizes */
	--title-size: 36px;
	--small-title-size: 28px;
	--score-size: 40px;
	--text-size: 20px;
	--small-text-size: 18px;
}

body{
	background-color: var(--main-bg-color);
	font-family: var(--content-text);
}

/* Media queries */

@media (max-width: 520px) {}

@media (min-width: 768px) {}

@media (min-width: 1200px) {}

@media (min-width: 1560px) {}

@media (prefers-reduced-motion: no-preference) {
	@view-transition {}
}

/* Keyframes & Animations */

@keyframes blur-in {
	0%    { opacity: 0; }
	50%   { opacity: 0.5; }
	100%  { opacity: 1; }
} 

@keyframes fade-in {
    from { opacity: 0; }
  }

@keyframes fade-out {
	to { opacity: 0; }
}

  @keyframes slide-from-right {
from { transform: translateX(30px); }
}

@keyframes slide-to-left {
to { transform: translateX(-30px); }
}